* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./assets/bg-light.svg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  font-family: "Inter", "Inter Fallback", sans-serif;
  height: 20vh;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 10rem;
  backdrop-filter: blur(10px);
}

.logo img {
  width: 104px;
  height: 24px;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
}

.login {
  background-color: lab(100 0 0 / 0.05);
  border: 0.8px solid rgba(0, 0, 0, 0);
  color: #ffffff;
  padding: 4.5px 12px;
  border-radius: 2.68435e7px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.signup {
  background-color: #ffffff;
  border: none;
  color: #000000;
  padding: 4.5px 12px;
  border-radius: 2.68435e7px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.hero-content {
  max-width: 688px;
  margin: 10rem auto 6rem auto;
  text-align: center;
  justify-items: center;
  padding: 72px 0 96px 0;
}

.hero-content h1 {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.hero-content p {
  color: lab(100 0 0);
  max-width: 472px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 2rem;
}

.email-form {
  display: flex;
  background-color: lab(100 0 0 / 0.15);
  border: 0.8px solid lab(100 0 0 / 0.15);
  border-radius: 2.68435e7px;
  padding: 4px;
  width: 360px;
}

.email-form input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0 1rem;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0);
}

input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.email-form button {
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 10px 20px;
  border-radius: 2.68435e7px;
  font-size: 15px;
  cursor: pointer;
}

.hero-image-light {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image-light img {
  border-radius: 1rem;
}

.trusted-by {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
  row-gap: 2rem;
  margin-top: 8rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 12rem;
}

.trusted-partner img {
  width: 45%;
  height: auto;
}

.intelligence-section {
  max-width: 550px;
  margin: 10rem auto 6rem auto;
  text-align: center;
}

.intelligence-section h2 {
  color: #000000;
  font-size: 40px;
  font-weight: 600;
}

.intelligence-section p {
  color: lab(2.42579 -0.165291 -0.470081 / 0.8);
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  margin-top: 20px;
}
